
<%= link_to "Novi Obrazac", export_xmls_new_path, class: "btn btn-success" %> <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-danger pull-right",  :method => :delete %>
<div class="page-header head-page">
  <h1>Obrasci</h1>
</div>

<%= render partial: 'export_xmls/values_grid' %>

